{% extends 'base.html' %}
{% block body %}
    <br>
<h1 class="display-7">Action Movie List</h1>
<hr>

<h4 class="border rounded p-3">
    <div class="display-8">
        <center>Action Movie List</center>
    </div>

</h4>
<table class="table color1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Rating</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for p in api %}
        <td>{{ p.name }}</td>
        <td>{{ p.duration }} Hour</td>
        <td>{{ p.rating }} Star</td>
        <td>{{ p.typ }}</td>

        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}

